{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content -%}
    <h1>ScanHistory list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Time</th>
                <th>Netrange</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('scanhistory_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.time %}{{ entity.time|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.netRange }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('scanhistory_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('scanhistory_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </ul>
    {% endblock %}
