{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content -%}
    <div class="container">
        <h1>Gespeicherte Netzwerke</h1>

        <table class="records_list table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Range</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.netRange }}</td>
                    <td>
                        <a href="{{ path('network_edit', { 'id': entity.id }) }}">Bearbeiten</a> |
                        <a href="{{ path('network_scan', { 'id': entity.id }) }}">Scanen</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-primary" href="{{ path('scan_new') }}">
            Neuen Scan erfassen
        </a>
    </div>
{% endblock %}
