{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content -%}
    <div class="container">
        <h1>Gespeicherte Netzwerke</h1>

        <table class="network_list table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Range</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.netRange }}</td>
                    <td>
                        <a href="{{ path('network_edit', { 'id': entity.id }) }}">Bearbeiten</a>
                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                            | <a href="{{ path('network_scan', { 'id': entity.id }) }}">Scanen</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if is_granted("ROLE_INVENTOR") %}
            <a class="btn btn-primary" href="{{ path('scan_new') }}">
                Neues Netzwerk erfassen
            </a>
        {% endif %}
    </div>
{% endblock %}
