{% trans_default_domain 'FOSUserBundle' %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
        <link href="{{ asset('bundles/app/css/app.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/app/css/theme.bootstrap.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/app/css/jquery.tablesorter.pager.css') }}" rel="stylesheet" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('app_index') }}">SysVentory</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <ul class="nav navbar-nav">
                    <li {% if app.request.attributes.get( '_route' ) starts with 'app_index' %} class="active"{% endif %}>
                        <a href="{{ path('app_index') }}">Home</a>
                    </li>
                    <li {% if app.request.attributes.get( '_route' ) starts with 'composition' %} class="active"{% endif %}>
                        <a href="{{ path('composition') }}">Computer</a>
                    </li>
                    <li {% if app.request.attributes.get( '_route' ) starts with 'network' %} class="active"{% endif %}>
                        <a href="{{ path('network') }}">Netzwerke</a>
                    </li>
                    <li class="dropdown {% if app.request.attributes.get( '_route' ) starts with 'scan' %}active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Scans <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {% if is_granted("ROLE_INVENTOR") %}
                                <li><a href="{{ path('scan_new') }}">Neuer Scan</a></li>
                                <li class="divider"></li>
                            {% endif %}
                            <li><a href="{{ path('scanhistory') }}">Scan Historie</a></li>
                        </ul>
                    </li>
                    <li class="dropdown {% if app.request.attributes.get( '_route' ) starts with 'statistic' %}active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Statistiken <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('statistic_scan') }}">Durchgeführte Scans</a></li>
                            <li><a href="{{ path('statistic_changes') }}">Änderungen</a></li>
                            <li><a href="{{ path('statistic_os') }}">Betreibssysteme</a></li>
                            <li><a href="{{ path('statistic_software') }}">Software</a></li>
                        </ul>
                    </li>
                </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="active">
                        <a href="{{ path('fos_user_profile_show') }}">
                            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                {% else %}
                    <li class="active">
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<body>
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}

    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
</body>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/app/js/jquery.tablesorter.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jquery.tablesorter.widgets.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jquery.tablesorter.pager.js') }}"></script>
    <script src="{{ asset('bundles/app/js/tablesorter.js') }}"></script>
    <script src="{{ asset('bundles/app/js/app.js') }}"></script>
    <script src="{{ asset('bundles/app/js/util.js') }}"></script>
{% endblock %}
</body>
</html>
