{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content -%}
    <div class="container">
        <h1>Composition Diff #{{ oldComposition.id }} / #{{ newComposition.id }}</h1>

        <div class="panel panel-default panel-inverse">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-desktop"></i> Computer</h3>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Uuid</th>
                    <th>Hersteller</th>
                    <th>Model</th>
                    <th>Speicher</th>
                    <th>Computer Name</th>
                    <th>Seriennummer</th>
                </tr>
                </thead>
                <tbody>
                {% if (oldComputer and newComputer) %}
                    <tr class="danger">
                        <td>{{ oldComputer.uuid }}</td>
                        <td>{{ oldComputer.manufacturer }}</td>
                        <td>{{ oldComputer.model }}</td>
                        <td>{{ oldComputer.memory }}</td>
                        <td>{{ oldComputer.computerName }}</td>
                        <td>{{ oldComputer.serialNumber }}</td>
                    </tr>
                    <tr class="success">
                        <td>{{ newComputer.uuid }}</td>
                        <td>{{ newComputer.manufacturer }}</td>
                        <td>{{ newComputer.model }}</td>
                        <td>{{ newComputer.memory }}</td>
                        <td>{{ newComputer.computerName }}</td>
                        <td>{{ newComputer.serialNumber }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ oldComposition.machine.uuid }}</td>
                        <td>{{ oldComposition.machine.manufacturer }}</td>
                        <td>{{ oldComposition.machine.model }}</td>
                        <td>{{ oldComposition.machine.memory }}</td>
                        <td>{{ oldComposition.machine.computerName }}</td>
                        <td>{{ oldComposition.machine.serialNumber }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>


        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-windows"></i> Betriebssystem</h3>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Version</th>
                    <th>Service Pack</th>
                    <th>Architektur</th>
                </tr>
                </thead>
                <tbody>
                {% if (oldOS and newOS) %}
                    <tr class="danger">
                        <td>{{ oldOS.name }}</td>
                        <td>{{ oldOS.version }}</td>
                        <td>{{ oldOS.servicePack }}</td>
                        <td>{{ oldOS.architecture }}</td>
                    </tr>
                    <tr class="success">
                        <td>{{ newOS.name }}</td>
                        <td>{{ newOS.version }}</td>
                        <td>{{ newOS.servicePack }}</td>
                        <td>{{ newOS.architecture }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ oldComposition.operatingSystem.name }}</td>
                        <td>{{ oldComposition.operatingSystem.version }}</td>
                        <td>{{ oldComposition.operatingSystem.servicePack }}</td>
                        <td>{{ oldComposition.operatingSystem.architecture }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-wifi"></i> Netzwerkkarten</h3>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>IP (v4)</th>
                    <th>IP (v4) Subnet</th>
                    <th>IP (v4) Default Gateway</th>
                    <th>IP (v6)</th>
                    <th>IP (v6) Subnet</th>
                    <th>IP (v6) Default Gateway</th>
                    <th>DHCP</th>
                    <th>MAC</th>
                    <th>Beschreibung</th>
                </tr>
                </thead>
                <tbody>
                {% for nc in networkInterfaces.normal %}
                    <tr>
                        <td>{{ nc.ipv4 }}</td>
                        <td>{{ nc.ipv4Subnet }}</td>
                        <td>{{ nc.ipv4DefaultGateway }}</td>
                        <td>{{ nc.ipv6 }}</td>
                        <td>{{ nc.ipv6Subnet }}</td>
                        <td>{{ nc.ipv6DefaultGateway }}</td>
                        <td>{{ nc.dhcp ? 'Ja':'Nein' }}</td>
                        <td>{{ nc.mac }}</td>
                        <td>{{ nc.description }}</td>
                    </tr>
                {% endfor %}
                {% for nc in networkInterfaces.red %}
                    <tr class="danger">
                        <td>{{ nc.ipv4 }}</td>
                        <td>{{ nc.ipv4Subnet }}</td>
                        <td>{{ nc.ipv4DefaultGateway }}</td>
                        <td>{{ nc.ipv6 }}</td>
                        <td>{{ nc.ipv6Subnet }}</td>
                        <td>{{ nc.ipv6DefaultGateway }}</td>
                        <td>{{ nc.dhcp ? 'Ja':'Nein' }}</td>
                        <td>{{ nc.mac }}</td>
                        <td>{{ nc.description }}</td>
                    </tr>
                {% endfor %}
                {% for nc in networkInterfaces.green %}
                    <tr class="success">
                        <td>{{ nc.ipv4 }}</td>
                        <td>{{ nc.ipv4Subnet }}</td>
                        <td>{{ nc.ipv4DefaultGateway }}</td>
                        <td>{{ nc.ipv6 }}</td>
                        <td>{{ nc.ipv6Subnet }}</td>
                        <td>{{ nc.ipv6DefaultGateway }}</td>
                        <td>{{ nc.dhcp ? 'Ja':'Nein' }}</td>
                        <td>{{ nc.mac }}</td>
                        <td>{{ nc.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-tasks"></i> CPU's</h3>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Familie</th>
                    <th>Clock</th>
                    <th>Cores</th>
                </tr>
                </thead>
                <tbody>
                {% for cpu in cpus.normal %}
                    <tr>
                        <td>{{ cpu.name }}</td>
                        <td>{{ cpu.family }}</td>
                        <td>{{ cpu.clock }}</td>
                        <td>{{ cpu.cores }}</td>
                    </tr>
                {% endfor %}
                {% for cpu in cpus.red %}
                    <tr class="danger">
                        <td>{{ cpu.name }}</td>
                        <td>{{ cpu.family }}</td>
                        <td>{{ cpu.clock }}</td>
                        <td>{{ cpu.cores }}</td>
                    </tr>
                {% endfor %}
                {% for cpu in cpus.green %}
                    <tr class="success">
                        <td>{{ cpu.name }}</td>
                        <td>{{ cpu.family }}</td>
                        <td>{{ cpu.clock }}</td>
                        <td>{{ cpu.cores }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-print"></i> Drucker</h3>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Treiber</th>
                    <th>Version</th>
                </tr>
                </thead>
                <tbody>
                {% for printer in printers.normal %}
                    <tr>
                        <td>{{ printer.name }}</td>
                        <td>{{ printer.driver }}</td>
                        <td>{{ printer.version }}</td>
                    </tr>
                {% endfor %}
                {% for printer in printers.red %}
                    <tr class="danger">
                        <td>{{ printer.name }}</td>
                        <td>{{ printer.driver }}</td>
                        <td>{{ printer.version }}</td>
                    </tr>
                {% endfor %}
                {% for printer in printers.green %}
                    <tr class="success">
                        <td>{{ printer.name }}</td>
                        <td>{{ printer.driver }}</td>
                        <td>{{ printer.version }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-terminal"></i> Software</h3>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Version</th>
                </tr>
                </thead>
                <tbody>
                {% for software in softwares.normal %}
                    <tr>
                        <td>{{ software.name }}</td>
                        <td>{{ software.version }}</td>
                    </tr>
                {% endfor %}
                {% for software in softwares.red %}
                    <tr class="danger">
                        <td>{{ software.name }}</td>
                        <td>{{ software.version }}</td>
                    </tr>
                {% endfor %}
                {% for software in softwares.green %}
                    <tr class="success">
                        <td>{{ software.name }}</td>
                        <td>{{ software.version }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <ul class="record_actions">
            <li>
                <a href="{{ path('composition') }}">
                    Back to the list
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
