{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content -%}
<div class="container">
    <h1>Machine #{{ composition.machine.uuid }}</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="versions">
                <div class="version-numbers">{{ historyVersions|length }}</div>
                <div class="subtext">Versionen gefunden</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default panel-inverse">
                <div class="panel-heading">
                    <h3 class="panel-title">Versionen</h3>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Datum</th>
                        <th style="text-align: center;">Alt</th>
                        <th style="text-align: center;">Neu</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in historyVersions %}
                    <tr
                        {% if loop.first %}
                            class="active"
                        {% endif %}
                    >
                        <td>{{ c.id }}</td>
                        <td><a href="{{ path('composition_show_old', { 'id': c.id }) }}">{{ c.time|date("d.m.Y H:i:s") }}</a></td>
                        <td align="center"><input type="radio" name="compare-old" value="{{ c.id }}"/></td>
                        <td align="center"><input type="radio" name="compare-new" value="{{ c.id }}"
                            {% if loop.first %}
                                checked
                            {% endif %}/></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="2" align="center">
                            <input type="submit" class="btn btn-primary btn-xs" value="Vergleichen" />
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-desktop"></i> Computer</h3>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Uuid</th>
                <th>Hersteller</th>
                <th>Model</th>
                <th>Speicher</th>
                <th>Computer Name</th>
                <th>Seriennummer</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ composition.machine.uuid }}</td>
                <td>{{ composition.machine.manufacturer }}</td>
                <td>{{ composition.machine.model }}</td>
                <td>{{ composition.machine.memory }}</td>
                <td>{{ composition.machine.computerName }}</td>
                <td>{{ composition.machine.serialNumber }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-windows"></i> Betriebssystem</h3>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Version</th>
                <th>Service Pack</th>
                <th>Architektur</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ composition.operatingSystem.name }}</td>
                <td>{{ composition.operatingSystem.version }}</td>
                <td>{{ composition.operatingSystem.servicePack }}</td>
                <td>{{ composition.operatingSystem.architecture }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-wifi"></i> Netzwerkkarten</h3>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>IP (v4)</th>
                <th>IP (v4) Subnet</th>
                <th>IP (v4) Default Gateway</th>
                <th>IP (v6)</th>
                <th>IP (v6) Subnet</th>
                <th>IP (v6) Default Gateway</th>
                <th>DHCP</th>
                <th>MAC</th>
                <th>Beschreibung</th>
            </tr>
            </thead>
            <tbody>
            {% for nc in composition.networkInterfaces %}
                <tr>
                    <td>{{ nc.ipv4 }}</td>
                    <td>{{ nc.ipv4Subnet }}</td>
                    <td>{{ nc.ipv4DefaultGateway }}</td>
                    <td>{{ nc.ipv6 }}</td>
                    <td>{{ nc.ipv6Subnet }}</td>
                    <td>{{ nc.ipv6DefaultGateway }}</td>
                    <td>{{ nc.dhcp ? 'Ja':'Nein' }}</td>
                    <td>{{ nc.mac }}</td>
                    <td>{{ nc.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-tasks"></i> CPU's</h3>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Familie</th>
                <th>Clock</th>
                <th>Cores</th>
            </tr>
            </thead>
            <tbody>
            {% for cpu in composition.cpus %}
                <tr>
                    <td>{{ cpu.name }}</td>
                    <td>{{ cpu.family }}</td>
                    <td>{{ cpu.clock }}</td>
                    <td>{{ cpu.cores }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-print"></i> Drucker</h3>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Treiber</th>
                <th>Version</th>
            </tr>
            </thead>
            <tbody>
            {% for printer in composition.printers %}
                <tr>
                    <td>{{ printer.name }}</td>
                    <td>{{ printer.driver }}</td>
                    <td>{{ printer.version }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-terminal"></i> Software</h3>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Version</th>
            </tr>
            </thead>
            <tbody>
            {% for software in composition.softwares %}
                <tr>
                    <td>{{ software.name }}</td>
                    <td>{{ software.version }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a class="btn btn-primary" href="{{ path('composition') }}">
        Zurück zur Übersicht
    </a>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            //-- Variables --
            var $compareSubmit = $("input[type=submit]");

            //-- Default behaviors --
            if($('input:radio:checked').length == 1) {
                $compareSubmit.attr('disabled', 'disabled');
            }

            $("input:radio").click(function(event) {
                if($(this).closest("tr").find("input:radio:checked").length == 2) {
                    event.preventDefault();
                } else if($('input:radio:checked').length == 2) {
                    $compareSubmit.removeAttr('disabled');
                }
            });

            $compareSubmit.click(function() {
                window.location.href = "/composition/"+$("input[name=compare-old]:checked").val()+"/compare/"+$("input[name=compare-new]:checked").val();
            });

        });
    </script>
{% endblock %}
